# ref: https://github.com/apache/polaris/blob/main/getting-started/minio/docker-compose.yml

volumes:
  minio-data:
  polaris-data:
  trino-data:

services:
  minio:
    image: quay.io/minio/minio:latest
    ports:
      # API port
      - "9000:9000"
      # UI port
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio_root
      MINIO_ROOT_PASSWORD: m1n1opwd
    command:
      - "server"
      - "/data"
      - "--console-address"
      - ":9001"
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:9000/minio/health/live"]
      interval: 1s
      timeout: 10s

  polaris:
    image: apache/polaris:latest
    ports:
      # API port
      - "8181:8181"
      # Optional, allows attaching a debugger to the Polaris JVM
      - "5005:5005"
    depends_on:
      minio:
        condition: service_healthy
    environment:
      JAVA_DEBUG: true
      JAVA_DEBUG_PORT: "*:5005"
      AWS_REGION: us-west-2
      AWS_ACCESS_KEY_ID: minio_root
      AWS_SECRET_ACCESS_KEY: m1n1opwd
      POLARIS_BOOTSTRAP_CREDENTIALS: POLARIS,root,s3cr3t
      polaris.realm-context.realms: POLARIS
      quarkus.otel.sdk.disabled: "true"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8182/q/health"]
      interval: 2s
      timeout: 10s
      retries: 10
      start_period: 10s
    volumes:
      - polaris-data:/polaris/data

  setup_bucket:
    image: quay.io/minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: "/bin/sh"
    command:
      - "-c"
      - >-
        echo Creating MinIO bucket...;
        mc alias set pol http://minio:9000 minio_root m1n1opwd;
        mc mb pol/warehouse;
        mc mb pol/data;
        mc ls pol;
        echo Bucket setup complete.;

  polaris-setup:
    image: alpine/curl
    depends_on:
      polaris:
        condition: service_healthy
    environment:
      - CLIENT_ID=root
      - CLIENT_SECRET=s3cr3t
    volumes:
      - ./polaris/:/polaris
    entrypoint: "/bin/sh"
    command:
      - "-c"
      - >-
        chmod +x /polaris/create-catalog.sh;
        chmod +x /polaris/obtain-token.sh;
        source /polaris/obtain-token.sh;
        echo Creating catalog...;
        export STORAGE_CONFIG_INFO='{"storageType":"S3",
          "endpoint":"http://localhost:9000",
          "endpointInternal":"http://minio:9000",
          "pathStyleAccess":true}';
        export STORAGE_LOCATION='s3://warehouse';
        /polaris/create-catalog.sh POLARIS $$TOKEN;
        echo Extra grants...;
        curl -H "Authorization: Bearer $$TOKEN" -H 'Content-Type: application/json' \
          -X PUT \
          http://polaris:8181/api/management/v1/catalogs/nyc_taxi_catalog/catalog-roles/catalog_admin/grants \
          -d '{"type":"catalog", "privilege":"CATALOG_MANAGE_CONTENT"}';
        echo Done.;

  trino:
    image: trinodb/trino:latest
    ports:
      - "8080:8080"
    depends_on:
      polaris:
        condition: service_healthy
    volumes:
      - ./trino/catalog:/etc/trino/catalog
      - ./trino/etc/jvm.config:/etc/trino/jvm.config
      - ./trino/etc/config.properties:/etc/trino/config.properties
      - ./trino/etc/node.properties:/etc/trino/node.properties
      - ./trino/etc/log.properties:/etc/trino/log.properties
      - trino-data:/data/trino
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/v1/info"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
